.upload {
    width: 157px !important;
    height: 57px !important;
    background: url(upload.png) !important;
    overflow: hidden;
}

.upload input {
    display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
